/* stylesheet for tims.garden
 * copyright 2024, tim desrochers */

body {
	font-family: sans-serif;
}

table th {
	padding: 1em;
	background-color: #f2f2f2;
	box-shadow: inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
}

table td {
	padding: 1em;
	border: 1px solid #000;
}
